
.top-menu {
    display: flex;
    justifyContent: space-around;
    width: 20%;
    position: fixed;
    justify-content: flex-start;
}
.top-menu-button {
    margin-right: 10px; /* Adjust according to your needs */
    font-size: 14px;
    margin-right: 10px;
}
.examples-popup {
    display: flex;
    flex-direction: column;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    z-index: 1;
    padding: 10px;
    box-sizing: border-box;
}
