
.top-menu {
    display: flex;
    position: fixed;
}
.top-menu-button {
    font-size: 14px;
}
.examples-popup {
    display: flex;
    flex-direction: column;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    z-index: 1;
    padding: 10px;
    box-sizing: border-box;
}
