.main-container {
    display: flex;
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
}
.dark-mode {
    background-color: #2e2d2d;
}
.bright-mode{
    background-color: white;
}