.main-container {
    display: flex;
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
}
.dark-mode {
    background-color: #2e2d2d;
}
.bright-mode{
    background-color: white;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  background: #ffffff; /* Adjust thumb color as needed */
}
.minMaxInputContainer {
    display: inline-block;
    margin-right: 10px;
}

.minMaxInputContainer label {
    font-size: 12px;
    margin-bottom: 3px;
}

.minMaxInputContainer input {
    width: 40px; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
    margin-left: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    background-color: black;
    color: white;
}
.labelContainer {
    display: flex;
    align-items: center;
}

.sliderLabel {
    font-size: 12px;
    margin-right: 10px;
    cursor: pointer;
}

.sliderLabel:hover {
    color: blue; /* Change color to blue on hover */
    text-decoration: underline; /* Add underline on hover */
}

