.centered-input-box {
    background-color: black;
    color: white;
    border: 1px solid gray; /* You can add a border for styling */
    padding: 10px; /* Add padding for spacing */
    font-size: 16px;
    outline: none;
    width: 500px;
    height: 650px; /* Adjust the height as needed */
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
}
.centered-input-box input[type="text"] {
    background-color: black; /* Change the background color to black */
    color: white; /* Change the text color to white */
    border: none; /* Remove the border */
    padding: 10px; /* Add padding inside the input */
    box-sizing: border-box; /* Include padding and border in the input's dimensions */
    font-size: 12px; /* Adjust font size as needed */
    outline: none; /* Remove the default focus outline */
}