.centered-input-box {
    padding: 10px; /* Add padding for spacing */
    width: 95%;
    height: 90%; /* Adjust the height as needed */
    position: relative; /* Change to relative positioning */
    margin-top: 30px;
}

.centered-input-box textarea {
    border: none; /* Remove the border */
    padding: 10px; /* Add padding inside the input */
    box-sizing: border-box; /* Include padding and border in the input's dimensions */
    outline: none; /* Remove the default focus outline */
    width: 100%; /* Make the textarea fill the container width */
    height: 100%; /* Adjust based on your needs */
    resize: none; /* Prevent resizing if you want a fixed size */
    overflow: auto; /* Handle scrolling for overflow text */
}