.centered-input-box {
    background-color: black; /* Match the background color of the center sub-panel */
    border: 1px solid white;
    color: white;
    padding: 10px; /* Add padding for spacing */
    font-size: 16px;
    outline: none;
    width: 100%;
    height: 650px; /* Adjust the height as needed */
    position: relative; /* Change to relative positioning */
    margin-top: 20px;
}

.centered-input-box textarea {
    background-color: black; /* Match the background color of the input box */
    color: white; /* Change the text color to white */
    border: none; /* Remove the border */
    padding: 10px; /* Add padding inside the input */
    box-sizing: border-box; /* Include padding and border in the input's dimensions */
    font-size: 12px; /* Adjust font size as needed */
    outline: none; /* Remove the default focus outline */
    width: 100%; /* Make the textarea fill the container width */
    height: 100%; /* Adjust based on your needs */
    resize: none; /* Prevent resizing if you want a fixed size */
    overflow: auto; /* Handle scrolling for overflow text */
}