/* styles.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2e2d2d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

button {
  background-color: black; /* Change button background to black */
  color: white;           /* Change text color to white for contrast */
  border: none;
  padding: 4px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  height: 30;
}

button:hover {
  background-color: #333333; /* Darker shade of black for hover effect */
}

/* Existing button styles */

.popup {
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  border: 1px solid black;
  background-color: #2e2d2d; /* Change popup background to grey */
  z-index: 1;
  padding: 10px;
  box-sizing: border-box;
}

.popup-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.popup-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.popup-top {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-bottom {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.plot-container {
  position: absolute;
  top: 15%;
  margin-left: 65%;
  width: 50%; /* Adjust the width as needed */
  height: 100%; /* Make it take the full height of the screen */
}
.xy-button {
  position: absolute;
  top: 40%;
  left: 2%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dropdown-container {
  display: flex;
  top: 40%;
  margin-left: 0%; /* Adjust the margin-left value to move it to the right */
  margin-top: 13%;
  flex-direction: column;
  align-items: flex-start;
}

.dropdown-list {
  margin-left: 0%; /* Adjust the margin-left value to move it to the right */
  margin-top: 13%
}

/* Make checkboxes smaller */
.dropdown-list input[type="checkbox"] {
  transform: scale(0.8); /* Adjust the scale factor as needed */
  margin-right: 5px; /* Add spacing between checkbox and label */
}

/* Make labels smaller */
.dropdown-list label {
  font-size: 12px; /* Adjust the font size as needed */
}
.small-text {
  font-size: 12px; /* You can adjust the font size as needed */

}
.centered-input-box {
  background-color: black;
  color: white;
  border: 10px solid black; /* You can add a border for styling */
  padding: 10px; /* Add padding for spacing */
  font-size: 16px;
  outline: none;
  width: 600px;
  height: 1000px; /* Adjust the height as needed */
  position: absolute;
  top: 0;
  left: 20%;
  overflow: auto; /* Add this to enable scrolling if the content exceeds the height */
}

.centered-input-box input[type="text"] {
  width: 100%; /* Full width of the parent div */
  height: 50px; /* Example height, adjust as needed */
  background-color: black; /* Change the background color to black */
  color: white; /* Change the text color to white */
  border: none; /* Remove the border */
  padding: 10px; /* Add padding inside the input */
  box-sizing: border-box; /* Include padding and border in the input's dimensions */
  font-size: 12px; /* Adjust font size as needed */
  outline: none; /* Remove the default focus outline */
}



