.centered-input-box {
    padding: 10px; /* Add padding for spacing */
    position: relative; /* Change to relative positioning */
    overflow: hidden;
}

.centered-input-box textarea {
    border: none; /* Remove the border */
    padding: 10px; /* Add padding inside the input */
    box-sizing: border-box; /* Include padding and border in the input's dimensions */
    outline: none; /* Remove the default focus outline */
    width: 100%; /* Make the textarea fill the container width */
    height: 100%; /* Adjust based on your needs */
    resize: none; /* Prevent resizing if you want a fixed size */
    overflow: auto; /* Handle scrolling for overflow text */
}

.tab-button {
    /* Define default button styles here */
    padding: 4px 12px;
    margin-left: 10px;
    width: 80px;
    height: 20px
}

.tab-button.active {
    /* Define styles for active tab button here */
    background-color: black;
    color: white;
}
.plus-button {
    border: 1px solid #ccc;
    padding: 2px 5px;
    width: 20px;
    height: 20px
}

