/* styles.css */
.panels-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.left-subpanel {
  position: relative;
  resize: horizontal;
  padding: 10px;
  box-sizing: border-box;
  height: calc(100vh - 100px); /* Adjusted height to ensure visibility */
  overflowY: auto;
}

.resize-handle {
  background-color: #4d4d4d; /* Color of the resize handle */
  width: 5px; /* Width of the handle */
  height: 100%;
  cursor: ew-resize; /* Cursor indicates horizontal resizing */
  position: absolute;
  right: 0; /* Position the handle on the right edge of the panel */
  top: 0;
}
.resize-right-handle {
  background-color: #4d4d4d; /* Color of the resize handle */
  width: 5px; /* Width of the handle */
  height: 100%;
  cursor: ew-resize; /* Cursor indicates horizontal resizing */
  position: absolute;
  left: 0; /* Position the handle on the right edge of the right sub-panel */
  top: 0;
}

html, body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

button {
  border: none;
  padding: 4px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  height: 30px;
}

button:hover {
  background-color: #333333; /* Darker shade of black for hover effect */
}

.small-text {
  font-size: 12px;
  margin-top: 20px;
}

.text-simulation {
  font-size: 16px; /* Adjust the font size as needed */
  margin-left: 25px;
  margin-top: -30px;
}

.parameter-input-box {
  padding: 10px; /* Add padding for spacing */
  font-size: 12px;
  width: 50px;
  height: 2px; /* Adjust the height as needed */
  position: absolute;
  right: 10px;
  border-radius: 5px;
}

.parameter-input-box[type="number"]::-webkit-inner-spin-button,
.parameter-input-box[type="number"]::-webkit-outer-spin-button {
    height: auto;
    left: 10px;
}

.icon-container img {
  width: 50px;  /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
}

.components-container-in-param-popup{
  position: absolute;
  left:55px;
  top: 30px;
}
.components-container-in-yaxis-popup {
  position: absolute;
  left: 70px;
  top: 120px;
  width: 250px;
  height: 300px;
}

/* Styles for the up and down buttons */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Remove default styling */
    appearance: none;
    margin: 0; /* Optional: Adjust margin as needed */
}

/* Custom styling for the up and down buttons */
input[type="number"]::-webkit-inner-spin-button {
    background-color: green;
    color: white;
}

input[type="number"]::-webkit-outer-spin-button {
    background-color: blue;
    color: white;
}








