.main-container {
    display: flex;
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
}
.dark-mode {
    background-color: #2e2d2d;
}
.bright-mode{
    background-color: white;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  background: #9b9a9c;
}
.minMaxInputContainer {
    display: inline-block;
    margin-right: 10px;
}

.minMaxInputContainer label {
    font-size: 12px;
    margin-bottom: 3px;
}

.minMaxInputContainer input {
    width: 50px; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
    margin-left: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
    background-color: black;
    color: white;
}
.labelContainer {
    display: flex;
    align-items: center;
}

.sliderLabel {
    font-size: 12px;
    margin-right: 10px;
}

.sliderLabel:hover {
    color: gray; /* Change color to blue on hover */
    text-decoration: underline; /* Add underline on hover */
}

/* Styles the scrollbar itself (vertical) */
.custom-scrollbar-dark-mode::-webkit-scrollbar {
    width: 2px;
}

/* Styles the draggable part of the scrollbar */
.custom-scrollbar-dark-mode::-webkit-scrollbar-thumb {
    background-color: gray; /* color of the scroll thumb */
    border-radius: 30px; /* roundness of the scroll thumb */
    border: 2px solid gray; /* creates padding around the scroll thumb */
}

/* Styles the part of the scrollbar track where the thumb isn't */
.custom-scrollbar-dark-mode::-webkit-scrollbar-track {
    background: black; /* color of the track */
    border-radius: 30px; /* roundness of the track */
}

.custom-scrollbar-light-mode::-webkit-scrollbar {
    width: 2px;  /* width of the entire scrollbar */
}

/* Styles the draggable part of the scrollbar */
.custom-scrollbar-light-mode::-webkit-scrollbar-thumb {
    background-color: gray; /* color of the scroll thumb */
    border-radius: 15px; /* roundness of the scroll thumb */
    border: 2px solid gray; /* creates padding around the scroll thumb */
}

/* Styles the part of the scrollbar track where the thumb isn't */
.custom-scrollbar-light-mode::-webkit-scrollbar-track {
    background: white; /* color of the track */
    border-radius: 15px; /* roundness of the track */
}

.custom-scrollbar-sliders-dark-mode::-webkit-scrollbar {
    width: 2px;  /* width of the entire scrollbar */
}

/* Styles the draggable part of the scrollbar */
.custom-scrollbar-sliders-dark-mode::-webkit-scrollbar-thumb {
    background-color: gray; /* color of the scroll thumb */
    border-radius: 15px; /* roundness of the scroll thumb */
    border: 2px solid gray; /* creates padding around the scroll thumb */
}

/* Styles the part of the scrollbar track where the thumb isn't */
.custom-scrollbar-sliders-dark-mode::-webkit-scrollbar-track {
    background: #2e2d2d; /* color of the track */
    border-radius: 15px; /* roundness of the track */
}

.custom-scrollbar-xyaxis-dropdown-dark-mode::-webkit-scrollbar {
    width: 2px;  /* width of the entire scrollbar */
}

/* Styles the draggable part of the scrollbar */
.custom-scrollbar-xyaxis-dropdown-dark-mode::-webkit-scrollbar-thumb {
    background-color: gray; /* color of the scroll thumb */
    border-radius: 15px; /* roundness of the scroll thumb */
    border: 2px solid gray; /* creates padding around the scroll thumb */
}

/* Styles the part of the scrollbar track where the thumb isn't */
.custom-scrollbar-xyaxis-dropdown-dark-mode::-webkit-scrollbar-track {
    background: #242323; /* color of the track */
    border-radius: 15px; /* roundness of the track */
}
.slider-for-frame {
   -webkit-appearance: none;
   width: 100%;
   height: 4px;
   border-radius: 5px;
   outline: none;
   opacity: 0.7;
   -webkit-transition: 0.2s;
   transition: opacity 0.2s;
 }

.search-container {
	position: absolute;
	top: 10px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1000;
	width: 60%; /* You can adjust this width */
	display: flex;
	justify-content: center;
	align-items: center;
}

.suggestions-dropdown {
    position: absolute;
    top: 50px; /* Adjust as needed, depending on the input height */
    left: 50%; /* Align to the center */
    transform: translateX(-50%); /* Center the dropdown */
    z-index: 1000; /* Ensure it's above other elements */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add some shadow */
    border-radius: 4px;
    width: 60%; /* Adjust as needed */
    max-height: 400px; /* Control the height and allow scrolling */
    overflow-y: auto;
}

.search-container input {
    width: 40%; /* Adjust as needed */
    height: 30px;
    border-radius: 5px;
    padding: 5px;
}

.suggestions-dropdown ul {
 list-style-type: none; /* Remove bullet points */
 margin: 0;
 padding: 0;
}

.monaco-editor-container {
position: relative;
}











