.popup {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    border: 1px solid black;
    background-color: #2e2d2d; /* Change popup background to grey */
    z-index: 1;
    padding: 10px;
    box-sizing: border-box;
}

.popup-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.popup-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.popup-top {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-bottom {
    position: absolute;
    bottom: 10px;
    right: 10px;
}