.config-button {
    margin-left: 13px;
    font-size: 12px;
}
.compute-steady-state-button {
    font-size: 12px;
}

/* SteadyState.css */
.table-container {
    max-height: 200px; /* Adjust the height as needed */
    overflow-y: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th {
    font-size: 12px;
    padding: 8px;
}

.table td {
    font-size: 12px;
    padding: 8px;
}
.more-info-button {
    width: 80px;
    background-color: #007bff; /* A blue color for the button */
    color: white; /* White text */
    border: none; /* Remove the default border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 12px; /* Font size */
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
}

.more-info-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

